In [4]:
%matplotlib inline

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# warnings.filterwarnings('ignore')

#영국 온라인 스토어 도매 거래 데이터
df = pd.read_csv('./python-data-analysis-master/data/online_retail.csv', dtype = {'CustomerID': str, 'InvoiceId': str}, encoding = 'ISO-8859-1')

df["InvoiceID"] = pd.to_datetime(df['InvoiceDate'], format = '%m/%d/%Y %H:%M')
print(df.info())
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 9 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  object
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  object
 7   Country      541909 non-null  object
 8   InvoiceID    541909 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(1), int64(1), object(6)
memory usage: 37.2+ MB
None

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,InvoiceID
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850,United Kingdom,2010-12-01 08:26:00
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850,United Kingdom,2010-12-01 08:26:00
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850,United Kingdom,2010-12-01 08:26:00
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850,United Kingdom,2010-12-01 08:26:00
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850,United Kingdom,2010-12-01 08:26:00

## 결측치제거

In [6]:
#결측치제거 (상성정보가 없는 1454개를 지워준다)
df.isnull().sum()
df = df.dropna()
print(df.shape)

(406829, 9)

## 이상치 제거

In [8]:

#상품 수량이 음수인 경우를 제거
print(df[df['Quantity'] <= 0].shape[0])

df = df[df['Quantity'] > 0]

8905

In [9]:
#상품 가격이 0 이하인 경우 제거 
print(df[df['UnitPrice'] <= 0].shape[0])

df = df[df['UnitPrice'] > 0 ]

40

In [11]:
#상품코드가 이상한경우 탐색하고 , 상품 코드가 일반적이지 않는 경우를 탐색
df['ContainDigit']  = df['StockCode'].apply(lambda x : any(c.isdigit() for c in x))
print(df[df['ContainDigit'] == False].shape[0])

df[df['ContainDigit'] == False].head()

1414

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,InvoiceID,ContainDigit
45,536370,POST,POSTAGE,3,12/1/2010 8:45,18.00,12583,France,2010-12-01 08:45:00,False
386,536403,POST,POSTAGE,1,12/1/2010 11:27,15.00,12791,Netherlands,2010-12-01 11:27:00,False
1123,536527,POST,POSTAGE,1,12/1/2010 13:04,18.00,12662,Germany,2010-12-01 13:04:00,False
2239,536569,M,Manual,1,12/1/2010 15:35,1.25,16274,United Kingdom,2010-12-01 15:35:00,False
2250,536569,M,Manual,1,12/1/2010 15:35,18.95,16274,United Kingdom,2010-12-01 15:35:00,False